/* COMMON BLOGS PAGE */
#blogs{
    /* background-image: url("https://i.pinimg.com/564x/e5/d3/f0/e5d3f0f51b3913a5e0bd5452f1732e2c.jpg");
    background-image: url("https://i.pinimg.com/564x/f6/13/ea/f613ea8938b0dc0132d942dad9a2de01.jpg"); */
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position:center;
    text-align: center;
    padding: 0 0 3% 0;
    min-height: 100vh;
}
button{
    border: 0;
    background-color: transparent;
    text-decoration: none;
}
#add-blog-button{
    color: rgb(114, 114, 114);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    cursor: pointer;
}
#add-blog-button:hover{
    color: black;
}
#blog-input img{
    width: 10vw;
}
#blog-cards-grid{
    text-align: center;
    display: grid;
    grid-template-columns: auto auto ;
    padding: 2% 10%;
}
@media screen and (max-width: 900px){
    #blog-cards-grid{
        grid-template-columns: auto auto;
    }
}
@media screen and (max-width: 500px){
    #blog-cards-grid{
        grid-template-columns: auto;
    }
}
#blog-cards-div{
    text-align: center;
    padding-left: 5.5%;
}
/* BLOG CARD */
#blog-card{
    width: 80%;
    background-color: rgb(250, 250, 250);
    margin: 5% 3% 0 3%;
    border-radius: 15px;
    padding: 0 0 0 4%;
    text-align: center;
    opacity: 0.9;
    height: 150px;
}
#blog-card:hover{
    background-color: rgb(252, 252, 236);
    cursor: pointer;
}
/* #blog-card:hover > #blog-text{
    box-shadow: -3px -3px 2px 1px white inset,3px 3px 2px 1px rgb(211, 209, 209) inset ;
} */
/* #blog-card-upper-div{
    background-color: rgb(250, 250, 250);
    box-shadow: -3px -3px 2px 1px white inset,3px 3px 2px 1px rgb(211, 209, 209) inset ;
    
    padding: 2% 5%;
    border-radius: 20px;
    margin-bottom: 7%;
}
#blog-head{
    font-weight: 100;
}
#blog-cat{
    text-align: end;
    
    font-style: italic;
}
#blog-text{
    box-shadow: -3px -3px 2px 1px white ,2px 2px 2px 1px rgb(211, 209, 209);
    background-color: rgb(250, 250, 250);
    padding:  5%;
    border-radius: 20px;
    text-align: justify;
    font-family: sans-serif;
    font-weight: 100;
    margin-bottom: 5%;
    
    overflow: hidden;
    height: 210px;
    line-height: 1.5;
} */

.flex-4{
    display: flex;
    
}
#flex-4-left{
    text-align: left;
    padding: 2%;
    flex:3;
}
#flex-4-right{
    flex: 1;
    text-align: right;
}
#blog-head{
    font-weight: 500;
    
}
#blog-cat{
    margin-bottom: 1%;
    text-align: right;
}
#blog-text{
    height: 80px;
    overflow: hidden;
    font-family: monospace;
    font-size: 1.1rem;
    margin-bottom: 2%;
    line-height: 1.4;
}
#blog-img{
    width: 200px;
    height: 150px;
    border-radius: 0 15px 15px 0;
}

#read-more button{
    display: none;
}
#blog-card:hover > #read-more button{
    display: initial;
}
#read-more button{
    background-color: white;
    border-radius: 20px;
    padding: 5%;
    margin: 0 0 3% 0;
    cursor: pointer;
}
#read-more button:hover{
    background-color: rgb(245, 243, 243);
}
#read-more p{
    
    font-family: monospace;
}

/* ADD BLOG PAGE */

#add-blog{
    /* background-image: url("https://i.pinimg.com/564x/2b/50/a7/2b50a746f2fbaca5dce6a4239771f6db.jpg"); */
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
padding: 3% 2%;
    text-align: center;
    box-sizing: border-box;
    background-attachment: fixed;
    min-height: 100vh;
    
}
#add-blog-head{
    text-align: left;
    color: rgb(243, 243, 243);
}
#blog-input{
    padding: 5% 2%;
    margin-top: 3%;
    text-align: center;
    border: 2px solid black;
    background-color: white;
    opacity: 0.9;
    border-radius: 20px;
    
}
#flex3{
    display: flex;
    margin-bottom: 3%;
}
.flex3-left{
    flex:3;
    text-align: left;
    padding-left: 9%;
    
}
.flex3-right{
    flex:1;
    text-align: left;
    
}
#addBlog-input{
    display: inline-block;
    width: 60%;
    outline: none;
    margin-bottom: 3%;
    border: 0;
    background-color: rgb(243, 243, 243);
    border-radius: 20px;
    /* border-bottom: 1px solid black; */
    font-size: 1rem;
    padding: 1%;
}
/* #addBlog-input:last-of-type{
    border-right: 1px solid black;
} */
#addBlog-input:hover{
    background-color: rgb(226, 226, 226);
    padding: 1%;
    border-radius: 20px;
    border:0;
}

#addBlog-img{
    margin:0;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 1px rgb(211, 211, 211);
    max-height: 25vh;
}
.add-content{
    height: 20vh;
    border-radius: 20px;
    
}
#create-blog textarea{
    background-color: rgb(243, 243, 243);
    width: 80%;
}
.select-cat:hover{
    border-radius: 20px 20px 0 0;
}
#submit-blog-div{
    text-align: center;
}
#submit-blog{
    padding: 1% 2%;
    background-color: black;
    color: white;
    border-radius: 10px;
    font-family: monospace;
    font-size: 1rem;
}
#submit-blog:hover{
    background-color: rgb(228, 228, 228);
    box-shadow: 2px 2px 3px 1px rgb(119, 119, 119) inset;
    color: black;
}
@media screen and (max-width:650px) {
    #blog-img{
        width: 130px;
    }
    #add-blog-head{
        text-align: center;
    }
    #blog-input{
        margin-top: 15%;
        padding: 15% 5%;
    }
}


/* VIEW BLOG PAGE */
#view-blog-page{
    background-color: black;
    color: white;
}
#view-blog{
    padding: 2% 25%;
    text-align: center;
    
}
#view-blog-head{
    font-family: monospace;
    font-size: 4rem;
}
#view-blog-name{
    font-family: sans-serif;
    text-align: end;
    color: rgb(223, 223, 223);
}


#view-blog-img-div{
    background-color: rgb(122, 122, 122);
    margin: 5% 0;
    max-height: 50vh; 
    
}
#view-blog-img{
    max-height: 50vh;
    object-fit: cover;
}

#view-blog-content{
    font-family: serif;
    text-align: justify;
    line-height: 2;
    font-size: 1.3rem;
    color: rgb(196, 195, 195);
}

#footer{
    padding: 3%;
    border-top: 1px solid gray;
    text-align: center;
}
#footer button{
    background-color: rgb(226, 226, 226);
    color:black;
    font-family: monospace;
    font-size: 1.1rem;
}
#footer button:hover{
    background-color: rgb(190, 190, 190);
}