* {
  margin: 0;
}

#start-div {
  overflow: hidden;
  background-color: rgb(27, 27, 27);  
  padding: 0%;
  background-repeat: none;
  background-size: cover;
  height: 100vh;
  text-align: center;
}


@keyframes shake{
  0%{
    transform: translateX(0px);
  }
  20%{
    transform: translateX(10px);
  }60%{
    transform: translateX(0px);
  }80%{
    transform: translateX(-15px);
  }100%{
    transform: translateX(2px);
  }
}